<aside class="sidebar">
    <div class="scrollbar-inner">
        <div class="user">
            <div class="user__info" data-toggle="dropdown">
                <img class="user__img" id="image_id"  alt="">
                <div>
                    <div id="userName" class="user__name">noName</div>
                    <div id="userEmail" class="user__email">noEmail</div>
                </div>
            </div>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">View Profile</a>
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" id="logout">Logout</a>
            </div>
        </div>

        <ul class="navigation">
            <li class="<%= (page == 'index')?'navigation__active':'@@indexactive' %>"><a href="/"><i class="zmdi zmdi-home"></i> Home</a></li>


            <li class="navigation__sub <%= (page == 'messages')?'navigation__sub--active navigation__sub--toggled':'@@samplepagesactive' %>">
                <a href="#"><i class="zmdi zmdi-collection-item"></i> Contacts</a>

                <ul>
                    <li class="<%= (page == 'messages')?'navigation__active':'@@messagesactive' %>"><a href="/messages">Messages</a></li>
                </ul>
            </li>
            <li class="<%= (page == 'video-call')?'navigation__active':'@@indexactive' %>"><a href="/video-call"><i class="zmdi zmdi-videocam"></i> video call</a></li>
            <li class="<%= (page == 'voip')?'navigation__active':'@@indexactive' %>"><a href="/voip"><i class="zmdi zmdi-phone"></i> VOIP</a></li>
            <li class="<%= (page == 'settings')?'navigation__active':'@@indexactive' %>"><a href="/settings"><i class="zmdi zmdi-settings"></i> Settings</a></li>
        </ul>
    </div>
</aside>